body {
  padding-top: 65px;
  padding-bottom: 45px;
  background: slategray url("./assets/work.jpg") no-repeat fixed;
}

.gray-noise-background {
  background: white url("./assets/gray-noise.png") repeat;
}


/* navigation */
.fixed-header {
  top: 0;
  z-index: 1;
}

.blue-nav {
  background-color: #023d75;
}

#blue-nav a, #blue-nav ul li {
  color: white;
}

#blue-nav .navbar-brand {
  font-size: 1.7em;
  font-weight: bolder;
}

.blue-nav div div ul li div.my-dropdown > a {
  color: black!important;
}

#navbarDropdown, #logout {
  cursor: pointer;
}

.blue-nav div div ul li a:hover,
.blue-nav div div ul li a:active,
.blue-nav div div ul li a.active {
  color: #ffffffff;
  padding-bottom: 0.25rem;
  border-bottom: 4px solid #ffffffff;
}

/* auth */
.auth-div {
  max-width: 600px!important;
}


/* home */
h3 {
  color: #023d75;
  font-weight: bolder;
}

.bottom-padding {
  padding-bottom: 90px;
}


/* card */
.my-card {
  padding: 40px;
  background-color: cadetblue;
  min-height: 220px;
}


/* jumbotron */
.intro {
  background: slategray url("assets/globe.jpg") no-repeat fixed;
  height: 550px;
}

.intro p {
  font-size: 1.45em;
}

.blurred-black {
  background: rgba(200, 200, 200, 0.85);
}


/* footer */
footer {
  background-color: #023d75;
  bottom: 0;
  color: white;
  height: 45px;
  font-size: 1.15em;
  padding-top: 8px;
  padding-bottom: 8px;
}


/* images */
img.sizedImg {
  max-width: 180px;
  max-height: 180px;
}